<div class="intro" *ngIf="intro">
  <div class="msg" [@fadeInAnimation]>{{introMsg}}</div>
</div>

<div class="startscreen-content" [@hideScreenAnimation]="bgState">
  <div class="screen-shader">
    
    <article class="msg">
      <img class="logo" src="../../assets/images/logo.png" alt="app-logo" [@msgAnimation]>
      <h1 class="welcome-header" [@msgAnimation]>{{welcomeMsg}}</h1>
      
      <div class="enter-icon" 
          (click)="animateBg()" 
          [@msgAnimation] 
          [@iconAnimation]="changeState">
        <div class="i-circle">
          <fa class="i-check" name="angle-down"></fa>
        </div>
      </div>
      
    </article>

  </div>
</div>

