@import '../../styles.scss';

.menu-content {
  margin-top: 3rem;

  .menu-popup {
    background: $color-white;
    position: absolute;
    right: 5%;
    height: 61px;
    border-radius: 2px;
    @include box-shadow;

    ul {
      margin: 0;
      width: 100%;
      padding: 0.5em 0;
      list-style: none;

      li {
        display: inline-block;
        width: 8vw;
        margin-top: -8px;
        padding: 19px 10px;
        text-align: center;
        font-family: $fancy-font;
        font-size: 0.9rem;
        cursor: pointer;
        @include ease-transition;

        &:focus {
          outline: none;
        }
      }

      li:hover {
        background-color: $color-grey;
      }
    }
  }
}

/*! Note: I've "lifted" the spinning hamburger from this source and modified it. 
    author Jonathan Suh https://github.com/jonsuh/hamburgers
  */

.hamburger:focus {
  outline: 0;
}

.menu-icon {
  position: absolute;
  top: 3rem;
  right: 5%;
  
  .hamburger {
    background: $color-white;
    border-radius: 2px;
    margin: 0;
    border: 0;
    padding: 18px 13px 13px 13px;
    display: inline-block;
    cursor: pointer;
    overflow: visible;
    @include linear-transition;
  }

  .hamburger-box {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 23px;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }

  .hamburger-inner,
  .hamburger-inner::after,
  .hamburger-inner::before {
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    @include ease-transition;
  }

  .hamburger-inner::after,
  .hamburger-inner::before {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    bottom: -10px;
  }
  .hamburger--spin .hamburger-inner {
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  .hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
  }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
