@import '../../styles.scss';

.detail-card {
  background: $color-blue-dark;
  top: 10rem;
  width: 24rem;
  padding: 0;
  border: 0;
  @include box-shadow;

  .card-img-top {
    height: 180px;
  }

  .card-block {
    padding: 1.6rem;
    background: $color-white;

    .card-title {
      font-size: 22px;
      color: $color-blue-light;
    }
    .detail-table {
      width: 100%;
      padding: 20px;
      font-size: 13px;
      color: $color-grey-dark;

      th {
        width: 50%;
        font-size: 12px;
      }
      td {
        vertical-align: text-top;
        padding-bottom: 10px;
      }
    }
  }
}