<div *ngIf="invoice" [@fadeInAnimation]>
  <div class="card detail-card" 
   [@fadeBetweenAnimation]="clickState"
    (click)="closeCard()">
    <img class="card-img-top" [src]="imgPath + invoice.img">
    <div class="card-block">
      <h4 class="card-title">{{invoice.accountname}}</h4>
      
      <table class="detail-table">
        <tr>
          <th>{{props[0]}}</th>
          <th>{{props[1]}}</th>
        </tr>
        <tr>
          <td>{{invoice.type}}</td>
          <td>{{invoice.accountname}}</td>
        </tr>
        <tr>
          <th>{{props[2]}}</th>
          <th>{{props[3]}}</th>
        </tr>
        <tr>
          <td>{{invoice.status ? "Active" : "Deactivated"}}</td>
          <td>{{invoice.currency}}</td>
        </tr>
        <tr>
          <th>{{props[4]}}</th>
          <th>{{props[5]}}</th>
        </tr>
        <tr>
          <td>{{invoice.balance | currency:'USD':true:'3.2-2'}}</td>
          <td>{{notes}}</td>
        </tr>
      </table>
      
    </div>
  </div>

</div>
<!--[@fadeBetweenAnimation]="clickState"-->