<table class="table table-bordered table-hover">
 
  <thead>
    <tr>
      <td class="table-caption" colspan="5">{{header}}</td>
    </tr>

    <tr>
      <th 
        *ngFor="let item of props, let i = index"
        [class.selected-invoice-property]="filtername === item"
        (click)="filteredBy(props[i])" >
        <a>{{props[i]}}</a>
        <fa [name]="'caret-down'"></fa>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr 
      *ngFor="let invoice of invoiceData | orderBy: [currentFilter]" 
      [class.selected-invoice-row]="invoice === selectedInvoice"
      (click)="onSelect(invoice)">
      <td>{{invoice.type}}</td>
      <td>{{invoice.accountname}}</td>
      <td>{{invoice.status ? "Active" : "Deactivated"}}</td>
      <td>{{invoice.currency}}</td>
      <td>{{invoice.balance | currency:'USD':true:'3.2-2'}}</td>
    </tr>
  </tbody>

</table>
