@import '../../styles.scss';

// == Table Content

.selectedcolumn {
  background: $color-toned;
  @include ease-transition;
}

.selected {
  background: $color-toned;
  border-left: 2px solid $color-blue-dark;
}

.master-invoices {
  margin-top: 2rem;
  font-size: 0.8rem;
  @include box-shadow;
  color: $color-grey-dark;

  .table-caption {
    font-size: 1.1rem;
    font-weight: 500;
  }
  td {
    border: none;
  }
  th {
    border-right: 0;
    border-left: 0;
    vertical-align: text-top;
  }
  i {
    margin-left: 0.4rem;
  }
}