<div class="container-fluid">
  
  <div class="row"> 
    <div class="col-7" id="left-main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-10">
            <div class="main-title">
              <div class="title">{{heading}}</div>
            </div>
          </div>
          <div class="col-2">
            <article (click)="updateSorting()">
              <div class="dots" (click)="toggleSidebar()">
                <img class="icon" src="../assets/images/{{selectedIcon}}.png">
              </div>
            </article>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <app-invoice-master 
              [invoiceData]="invoices" 
              [filterChange]="currentFilter" 
              [toggleMenu]="menuClickToggle" 
              (invoiceUpdate)="handleUpdate($event)">
            </app-invoice-master>
          </div>
        </div>
      </div>
    </div>

    <div class="col-5" id="right-main-content">
      <app-menu></app-menu>
      <div class="right-inside-content">
        <app-invoice-detail 
          [onMasterUpdate]="invoiceUpdate" 
          [invoice]="selectedInvoice">
        </app-invoice-detail>
      </div>
    </div>
  </div>

</div>

<div id="filter-menu" *ngIf="isOpen" [@sideBarAnimation]>
  <img src="../assets/images/business.jpg">
  <ul [@menuAnimation]="menuItems.length">
    <li *ngFor="let item of menuItems, let i = index" (click)="updateFilter(item, i)">
      <div class="list-body">
        <p>{{ item }}</p>
      </div>
      <img class="symbol" src="../../assets/images/symbol.png">
    </li>
  </ul>
</div>
